@font-face {
  font-family: Brandon_blk;
  src: url('/static/fonts/Brandon_blk.otf') format("opentype");
}

@font-face {
  font-family: Brandon_reg;
  src: url('/static/fonts/Brandon_reg.otf') format("opentype");
}

@font-face {
  font-family: Brandon_bld;
  src: url('/static/fonts/Brandon_bld.otf') format("opentype");
}

body {
  font-family: Brandon_reg, Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
  background: #21222a;
  color: #838498;
}

.top-bar {
  padding: 14px;
  font-size: 26px;
  position: relative;
}

.top-bar img {
  position: absolute;
  top: 0;
  left: 3px;
  padding: 20px 30px 17px 17px;
}

.title {
  padding: 5px 0 15px 0;
  font-size: 18px;
}

input[type="checkbox"] {
  display: none;
}

.badge {
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  margin-right: 15px;
  margin-bottom: 12px;
  border: solid 1px white;
}

.badge-yes {
  background: #6a68bd;
  border: solid 1px #6a68bd;
}


.cta {
  color: white;
  text-align: center;
  padding: 18px;
  font-size: 18px;
  border-radius: 40px;
  margin: 0px 1.5rem 8px 1.5rem;
}

footer button.btn-primary{
  background: #6a68bd !important;
  color: white !important;
  border-color: #6a68bd !important;
}
