@font-face {
  font-family: Brandon_blk;
  src: url('../static/fonts/Brandon_blk.otf') format("opentype");
}

@font-face {
  font-family: Brandon_reg;
  src: url('../static/fonts/Brandon_reg.otf') format("opentype");
}

@font-face {
  font-family: Brandon_bld;
  src: url('../static/fonts/Brandon_bld.otf') format("opentype");
}

body {
  font-family: Brandon_reg, Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
  background: #21222a;
  color: #838498;
}

.top-bar {
  padding: 14px;
  font-size: 22px;
  position: relative;
}

.top-bar span {
  position: absolute;
  left: 14px;
  top: 20px;
  opacity: 0.5;
}

.title {
  padding: 5px 0 15px 0;
  font-size: 18px;
}

.badge {
  padding: 8px 12px;
  border-radius: 10px;
  color: white;
  margin-right: 15px;
  margin-bottom: 12px;
}

.badge-yes {
  background: #6a68bd;
  border: solid 1px #6a68bd;
}

.badge-no {
  border: solid 1px white;
}

.cta {
  color: white;
  text-align: center;
  padding: 18px;
  font-size: 18px;
}

